body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #444;
    color: #fff;
    text-align: center;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

h1,
h2 {
    font-weight: 300;
}